{% extends "base.html" %}

{% block content %}


	<div class="post">
		<h2 class="title"><a href="{% url single_post slug=post.slug %}">{{ post.title }}</a></h2>
		<p class="meta"><span class="date">{{ post.pub_date|date:"Y/d/m" }}</span></p>
		<div class="entry">
			{{ post.body|safe|linebreaksbr }}
		</div>
	</div>
	
	<div class="post">
		<h2 class="title">Comments</h2>

		{% load comments %}
		{% get_comment_list for post as comment_list %}

		{% for comment in comment_list %}
			<p class="meta">Posted by <a href="{{ comment.user_url }}">{{ comment.user_name }}</a> on {{ comment.submit_date|date:"F j, Y" }}</p>
			<div class="entry">
				{{ comment.comment }}
			</div>
		{% empty %}
			<p>This place is so quiet now, be the first one to comment?</p>
		{% endfor %}
	</div>
	
	<div class="post"><div class="entry">

		{% get_comment_form for post as comment_form %}
	
		<form id="comment_form" action="{% comment_form_target %}" method="post">  {% csrf_token %}
		  {{ comment_form }}
		   	<input type="hidden" name="next" value="{% url single_post slug=post.slug %}" />
		   	<input type="submit" name="post" class="submit-post" value="Submit">
		</form>
	</div></div>

{% endblock %}
