{% extends "base.html" %}
{% block content %}


	{% if post_list.count %}
		{% for post in post_list %}

			{% load comments %}

			{% get_comment_count for post as comment_count %}

			<div class="post">
				<h1 class="title"><a href="{% url single_post slug=post.slug %}">{{ post.title }}</a></h1>
				<p class="meta"><span class="date">{{ post.pub_date|date:"Y/m/d" }}</span></p>
				<div class="entry">
					{{ post.excerpt|safe|linebreaksbr }}
					<p class="links">
						<a href="{% url single_post slug=post.slug %}">Read More</a>
						&nbsp;&nbsp;|&nbsp;&nbsp;
						Posted in 
						{% for category in post.categories.all %}
							<a href="{% url blog_posts_by_category category.name %}">{{ category.name }}</a>
						{% empty %}
							none
						{% endfor%}
						&nbsp;&nbsp;|&nbsp;&nbsp;
						Tagged
						{% for tag in post.tags.all %}
							<a href="{% url blog_posts_by_tag tag.name %}">{{ tag.name }}</a>
						{% empty %}
							none
						{% endfor%}
						&nbsp;&nbsp;|&nbsp;&nbsp;
						Comments ({{ comment_count }})
						
					</p>
				</div>
			</div>

		{% endfor %}
	{% else %}
		<p>There are no items to display...</p>
	{% endif %}


<div class="paginate">
	{% if is_paginated %}
		<div class="pagination">
		    <span class="step-links">
		        {% if page_obj.has_previous %}
		            <a href="/?page={{ page_obj.previous_page_number }}">Previous</a>
		        {% endif %}
		
		        <span class="current">
		            Pages {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
		        </span>
		
		        {% if page_obj.has_next %}
		            <a href="/?page={{ page_obj.next_page_number }}">Next</a>
		        {% endif %}
		    </span>
		</div>
	{% endif %}
</div>



{% endblock %}
