{% extends "base.html" %}

{% block content %}

	<p>首先，欢迎你来到这个不知名的地方~~</p>
	<p>我是桃雨，一个中科大计算机系的学生，现在大三。</p>
	<p>我的博客名为“stay hungry, stay foolish”，意思是&#8221;求知若渴，虚心若愚&#8221;</p>
	<p>I am interested in Internet, idea, entrepreneurship, startup, critical thinking and hacking.</p>
	<p>这个博客主要用来分享我的生活，感悟和古怪的想法。</p>
	<p>不管你是谁，既然你已经来到了这里，我愿与你分享Steve Jobs的一句话 &#8221;<span style="font-size: 14px; line-height: 22px; white-space: pre-wrap;"><span style="color: #ff0000;">你的生命如此短暂，所以不要浪费它过别人的生活，不要被教条所束缚，别让他人的意见淹没你自己发自内心的声音。最重要的是，要勇于追随自己的内心和直觉，它们其实早已知道你想要成为什么，其他的都是次要的。</span></span><span style="font-family: Arial; font-size: 14px; line-height: 22px; white-space: pre-wrap;"> </span>&#8221;</p>
	<p>如果要联系我可以给我发邮件:taoyu@mail.ustc.edu.cn或者给我留言，thanks</p>

{% endblock %}
