
				<div id="sidebar">

					{% load blog_sidebar %}

					<ul>
						<li>
							<h2>magic </h2>
							<p>magic is now a student in USTC, majored in computer science.</p>
						</li>

						<li>
							<div id="search" >
								<form method="get" action="{% url blog_post_search %}">
									<div>
										<input type="text" name="s" id="search-text" value="" />
										<input type="submit" id="search-submit" value="GO" />
									</div>
								</form>
							</div>
							<div style="clear: both;">&nbsp;</div>
						</li>

						<li>
							{% blog_categories %}
						</li>

						<li>
							{% blog_archive %}
						</li>

						<li>
							{% blog_tags %}
						</li>

					</ul>
				</div>
				
