
				<div id="sidebar">

					{% load blog_sidebar %}

					<ul>
						<li>
							<h2>magic </h2>
							<p>magic is now a student in USTC, majored in computer science.</p>

<div class="service-icon">
<a href="https://www.google.com/reader/shared/rombooliu" title="google reader share" rel="nofollow"><img style="width: 32px; height: 32px;" src="/static/images/google.png"></a>
<a href="http://delicious.com/lucifr" rel="nofollow" title="delicious"><img style="width: 32px; height: 32px;" src="/static/images/delicious.png"></a>
<a href="http://www.douban.com/people/lucifr/" title="douban" rel="nofollow"><img style="width: 32px; height: 32px;" src="/static/images/douban.png"></a>
<a href="http://www.flickr.com/photos/lucifr/" rel="nofollow" title="Flickr"><img style="width: 32px; height: 32px;" src="/static/images/flickr.png"></a>
<a href="http://picasaweb.google.com/rombooliu" rel="nofollow" title="minilog"><img style="width: 32px; height: 32px;" src="/static/images/miniblog.png"></a>
<a href="http://feeds.feedburner.com/lucifr" rel="nofollow" title="github"><img style="width: 32px; height: 32px;" src="/static/images/github.png"></a>
</div>
						</li>

						<li>
							<div id="search" >
								<form method="get" action="{% url blog_post_search %}">
									<div>
										<input type="text" name="s" id="search-text" value="" />
										<input type="submit" id="search-submit" value="GO" />
									</div>
								</form>
							</div>
							<div style="clear: both;">&nbsp;</div>
						</li>

						<li>
							{% blog_categories %}
						</li>

						<li>
							{% blog_tags %}
						</li>

						<li>
							{% blog_archive %}
						</li>


					</ul>
				</div>
				
